.container {
  width: 100%;
  height: 100%;
  background-color: var(--background-modal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--common-border-radius);
}

.container_hover {
  background-color: #25252c;
}

.container > p {
  text-align: center;
}
