.container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 4);
}

.items-dragable {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 4);
  overflow-y: auto;
  height: calc(100vh - 436px);
}

.item {
  position: relative;
}

.item__icon {
  position: absolute;
  left: 0;
  top: calc(50% - 12px)
}
