.container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 4);
}

.items-dragable {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 4);
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 534px);
}

.inner-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 4);
  background-color: inherit;
  border-radius: var(--common-border-radius);
}

.inner-container_hover {
  background-color: #25252c;
}
