.header {
  background-color: var(--background-header);
}

.nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  max-width: 1280px;
  margin: 0 auto;
}

.nav__links-group {
  display: flex;
  align-items: center;
}
.nav__links-group_left {
}

.nav__links-group_right {
  justify-content: end;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  display: inline-flex;
  align-items: center;
  color: var(--text-inactive-color);
  gap: calc(var(--offset-base-size) * 2);
}

.nav__link_active {
  color: var(--color-base);
}
